@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    line-height: 1;
    font-family: Montserrat;
    color: #333333;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

ul, ol, li {
    list-style: none;
    text-decoration: none;
}

img {
    vertical-align: top;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
}

button, a, select {
    background-color: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
}

[class*="__container"] {
    max-width: 1830px;
    margin: 0 auto;
    padding: 0px 15px;
}

@media (max-width: 1830px) {
    [class*="__container"] {
        max-width: 1230px;
    }
}

@media (max-width: 1230px ) {
    [class*="__container"] {
        max-width: 930px;
    }
}

@media (max-width: 930px) {
    [class*="__container"] {
        max-width: 770px;
    }
}

@media (max-width: 770px) {
    [class*="__container"] {
        max-width: none;
    }
}

/* ==================================================== */ /* ==================================================== */
/* ==================================================== */ /* ==================================================== */
/* ==================================================== */ /* ==================================================== */
header {

    background-image: url("jpg/bg__photo.png");
    height: 949px;

    top: 0;
    left: 0;
    width: 100%;

}

.header__container {
    display: flex;
    justify-content: space-between;
    min-height: 124px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    flex-wrap: wrap;
    row-gap: 5px;
    gap: 201px;
}

@media (max-width: 770px) {
    .header__container {
        min-height: 0;
        flex-direction: column;
    }
}

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 46px;
}

.header__location {
    background: none;
    color: white;
}

option {
    color: black;
}

/* ==================================================== */ /* ==================================================== */
.header__menu {

}

.header-menu__links {
    display: flex;
    gap: 30px;
}

.header__menu__items {

    color: white;

}

.header__menu__items:hover {
    text-decoration: underline;
}

.magazine {
    width: 136px;
    height: 40px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 200px;
}

/* ==================================================== */ /* ==================================================== */

/* ==================================================== */ /* ==================================================== */
.header__sead {
    color: white;
}

.header__search__bar {
    display: flex;
    gap: 31.5px;
}

.header__search__bar-items {

}

.header__search__bar-items:hover {
    text-decoration: underline;
}

/* ==================================================== */ /* ==================================================== */

/* ==================================================== */ /* ==================================================== */
/* ==================================================== */ /* ==================================================== */

/* ==================================================== */ /* ==================================================== */
.page__main {
    display: flex;
    color: #FFFFFF;
    margin-top: 140px;

}

.main-block__body {
    display: flex;
    justify-content: space-between;
    gap: 371px;
}

.content-main-block__title {
    font-size: 60px;
    font-family: Raleway;
}

.content-main-block__text {
    margin-top: 30px;
    font-size: 25px;
    font-family: 'Montserrat';
}

.body-main-block__forum {
    display: flex;
    justify-content: center;
    color: black;
}

.main-block__nameInputOne {
    margin-top: 49px;
}

#input-to {

    width: 140px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #C0C2D7;
    border-radius: 200px 0 0 220px;
    padding-left: 20px;
    font-size: 16px;
}
#input-after {
    width: 140px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #C0C2D7;
    border-radius: 0px 220px 220px 0px;
    padding-left: 20px;
    font-size: 16px;
}

.body-main-block__forum {

    width: 360px;
    height: 497px;
    background: #FFFFFF;
    border-radius: 20px;

}
.forum-textOne {
margin-bottom: 6px;
margin-left: 21px;

}

.main-block__nameInputTwo {
    position: absolute;
margin-top: 165px;
}
#input__people {

    width: 280px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #C0C2D7;
    border-radius: 200px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}
.inputPeopleText {
    margin-left: 21px;
    margin-bottom: 6px;
}
