@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    line-height: 1;
    font-family: Montserrat;
    color: #333333;
    background: #dcdada;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

ul, ol, li {
    list-style: none;
    text-decoration: none;
}

img {
    vertical-align: top;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
    margin-left: 260px;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
}

button, a, select {
    background-color: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
}

[class*="__container"] {
    max-width: 1830px;
    margin: 0 auto;
    padding: 0px 15px;
}

@media (max-width: 1830px) {
    [class*="__container"] {
        max-width: 1230px;
    }
}

@media (max-width: 1230px ) {
    [class*="__container"] {
        max-width: 930px;
    }
}

@media (max-width: 930px) {
    [class*="__container"] {
        max-width: 770px;
    }
}

@media (max-width: 770px) {
    [class*="__container"] {
        max-width: none;
    }
}

/* ==================================================== */ /* ==================================================== */
/* ==================================================== */ /* ==================================================== */
/* ==================================================== */ /* ==================================================== */
header {

    background-image: url("jpg/bg__photo.png");
    height: 949px;

    top: 0;
    left: 0;
    width: 100%;

}

.header__container {
    display: flex;
    justify-content: space-between;
    min-height: 124px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    flex-wrap: wrap;
    row-gap: 5px;
    gap: 201px;
}

@media (max-width: 770px) {
    .header__container {
        min-height: 0;
        flex-direction: column;
    }
}

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 46px;
}

.header__location {
    background: none;
    color: white;
}

option {
    color: black;
}

/* ==================================================== */ /* ==================================================== */
.header__menu {

}

.header-menu__links {
    display: flex;
    gap: 30px;
}

.header__menu__items {

    color: white;

}

.header__menu__items:hover {
    text-decoration: underline;
}

.magazine {
    width: 136px;
    height: 40px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 200px;
}

/* ==================================================== */ /* ==================================================== */

/* ==================================================== */ /* ==================================================== */
.header__sead {
    color: white;
}

.header__search__bar {
    display: flex;
    gap: 31.5px;
}

.header__search__bar-items {

}

.header__search__bar-items:hover {
    text-decoration: underline;
}

/* ==================================================== */ /* ==================================================== */

/* ==================================================== */ /* ==================================================== */
/* ==================================================== */ /* ==================================================== */

/* ==================================================== */ /* ==================================================== */
.page__main {
    display: flex;
    color: #FFFFFF;
    margin-top: 140px;

}

.main-block__body {
    display: flex;
    justify-content: space-between;
    gap: 371px;
}

.content-main-block__title {
    font-size: 60px;
    font-family: Raleway;
}

.content-main-block__text {
    margin-top: 30px;
    font-size: 25px;
    font-family: 'Montserrat';
}

.body-main-block__forum {
    color: black;
    width: 360px;
    height: 497px;
    background: #FFFFFF;
    border-radius: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 57px;
    padding-top: 59px;

}

.block-forum__partOne {
    display: flex;
    justify-content: space-between;
}

.inputTextOne {
    margin-left: 21px;
}

#entrance {
    padding-left: 20px;
    margin-top: 6px;
    width: 140px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #C0C2D7;
    border-radius: 200px 0px 0px 200px;
    font-size: 16px;
}

.inputTextTwo {
    margin-left: 20px;
}

#departure {
    padding-left: 20px;
    margin-top: 6px;
    width: 140px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #C0C2D7;
    border-radius: 0px 200px 200px 0px;
    font-size: 16px;
}

.block-forum__partTwo {
    margin-top: 32px;
}

.textPeople {
    margin-left: 21px;
}

#number__people {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 6px;
    width: 280px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #C0C2D7;
    border-radius: 200px 200px 200px 200px;
    font-size: 16px;
}


.range_container {
    display: flex;
    flex-direction: column;
    margin: 35% auto;
}

.sliders_control {
    position: relative;
    min-height: 50px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 8px;
    height: 23px;
    background-color: #F4683F;
    border-radius: 200px;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 8px;
    height: 23px;
    background-color: #F4683F;
    border-radius: 200px;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover {
    background: #F4683F;
}

input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #F4683F, 0 0 9px #c18a1b;
    -webkit-box-shadow: inset 0 0 3px #F4683F, 0 0 9px #c18a1b;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: #C6C6C6;
    pointer-events: none;
}

#fromSlider {
    height: 0;
    z-index: 1;
}

.main-block-forum__cleec {

}

.forum__cleec {
    width: 280px;
    height: 50px;
    background: #F4683F;
    border-radius: 200px;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
}


.forum__cleec:active {
    background: #fb4002;
}

.block-hous-slider__items {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 91px;
}

.button__slider {
    display: flex;
    justify-content: space-between;
    margin-top: -105px;
}

.sliderName__basin {
    display: flex;
    justify-content: center;
    margin-top: 14px;
}

.sliderName__lodge {
    display: flex;
    justify-content: center;
    margin-top: 14px;
}

.sliderName__house {
    display: flex;
    justify-content: center;
    margin-top: 14px;
}

.main-block-content__contact {
    margin-left: 25px;
    width: 204px;
}

.main-block-contact__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ==================================================== */ /* ==================================================== */

/* ==================================================== */ /* ==================================================== */
/* ==================================================== */ /* ==================================================== */

/* ==================================================== */ /* ==================================================== */


.content__blockOne {
    margin-top: 200px;
    height: 362px;
    width: 1300px;
}

.header-content {
    display: flex;
    align-items: center;
    height: 101px;
    width: 1300px;


}

.main-content {
    margin-top: 77px;
}

.main-content__items {
    display: flex;
    justify-content: space-between;
}

.header-content {
    font-family: Raleway;
    font-size: 40px;
}

.main-content__item {
    font-family: Montserrat;
    font-size: 16px;
}

.page-main-buy__container {
    width: 1401px;
    height: 1601px;

    margin-top: 200px;
    margin-left: 0;

}


.page-real_estate__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 90px;

}

.block-real_estate__newPineTreeOne {
    width: 440px;
    height: 600px;
    border-radius: 20px;
    background: #FFFFFF;

}

.img__newPine {
    height: 298px;
    width: 440px;
    background-image: url("jpg/img__newPineTreeOne.png");
}

.button__people {
    width: 92px;
    height: 36px;
    border-radius: 150px;
    background-image: url("jpg/people.png");
    margin-left: 328px;
    margin-top: 24px;
}

.button__like {
    width: 100px;
    height: 100px;
    border-radius: 200px;
    background-image: url("jpg/btn__favoret.png");
    margin-left: 350px;
    margin-top: 148px;
}

.newPine__content {
    width: 440px;
    height: 302px;
    margin-top: 50px;
    margin-left: 30px;
}

.newPine__description {
    margin-top: 19px;
    width: 100px;
}

.prise__newPine {
    margin-top: 60px;
    display: flex;
    align-items: inherit;
}

/* ---------------- */

.block-real_estate__salmachiOne {
    width: 440px;
    height: 600px;
    border-radius: 20px;
    background: #FFFFFF;

}

.img__salmachiOne {
    height: 298px;
    width: 440px;
    background-image: url("jpg/img__salmachiOne.png");
}

.button__people {
    width: 92px;
    height: 36px;
    border-radius: 150px;
    background-image: url("jpg/people.png");
    margin-left: 328px;
    margin-top: 24px;
}

.button__like {
    width: 100px;
    height: 100px;
    border-radius: 200px;
    background-image: url("jpg/btn__favoret.png");
    margin-left: 350px;
    margin-top: 148px;
}

.salmachiOne__content {
    width: 440px;
    height: 302px;
    margin-top: 50px;
    margin-left: 30px;
}

.salmachiOne__description {
    margin-top: 19px;
    width: 100px;
}

.prise__salmachiOne {
    margin-top: 60px;
    display: flex;
    align-items: inherit;
}

/* _________________________________________________________________________________________________________________ */
.block-real_estate__newPineTreeTwo {
    width: 440px;
    height: 600px;
    border-radius: 20px;
    background: #FFFFFF;

}

.img__newPineTreeTwo {
    height: 298px;
    width: 440px;
    background-image: url("jpg/img__newPineTreeTwo.png");
}

.button__people {
    width: 92px;
    height: 36px;
    border-radius: 150px;
    background-image: url("jpg/people.png");
    margin-left: 328px;
    margin-top: 24px;
}

.button__like {
    width: 100px;
    height: 100px;
    border-radius: 200px;
    background-image: url("jpg/btn__favoret.png");
    margin-left: 350px;
    margin-top: 148px;
}

.newPineTreeTwo__content {
    width: 440px;
    height: 302px;
    margin-top: 50px;
    margin-left: 30px;
}

.newPineTreeTwo__description {
    margin-top: 19px;
    width: 100px;
}

.prise__newPineTreeTwo {
    margin-top: 60px;
    display: flex;
    align-items: inherit;
}

/* __________________________________________________________________________________________________________________ */

.block-real_estate__newPineTreeFor {
    width: 440px;
    height: 600px;
    border-radius: 20px;
    background: #FFFFFF;
    margin-top: 40px;

}

.img__newPineTreeFor {
    height: 298px;
    width: 440px;
    background-image: url("jpg/img__newPineTreeFor.png");
}

.button__people {
    width: 92px;
    height: 36px;
    border-radius: 150px;
    background-image: url("jpg/people.png");
    margin-left: 328px;
    margin-top: 24px;
}

.button__like {
    width: 100px;
    height: 100px;
    border-radius: 200px;
    background-image: url("jpg/btn__favoret.png");
    margin-left: 350px;
    margin-top: 148px;
}

.newPineTreeFor__content {
    width: 440px;
    height: 302px;
    margin-top: 50px;
    margin-left: 30px;
}

.newPineTreeFor__description {
    margin-top: 19px;
    width: 100px;
}

.prise__newPineTreeFor {
    margin-top: 60px;
    display: flex;
    align-items: inherit;
}

/* __________________________________________________________________________________________________________________ */

.block-real_estate__newPineTreeFive {
    width: 440px;
    height: 600px;
    border-radius: 20px;
    background: #FFFFFF;
    margin-top: 40px;

}

.img__newPineTreeFive {
    height: 298px;
    width: 440px;
    background-image: url("jpg/img__newPineTreeFive.png");
}

.button__people {
    width: 92px;
    height: 36px;
    border-radius: 150px;
    background-image: url("jpg/people.png");
    margin-left: 328px;
    margin-top: 24px;
}

.button__like {
    width: 100px;
    height: 100px;
    border-radius: 200px;
    background-image: url("jpg/btn__favoret.png");
    margin-left: 350px;
    margin-top: 148px;
}

.newPineTreeFive__content {
    width: 440px;
    height: 302px;
    margin-top: 50px;
    margin-left: 30px;
}

.newPineTreeFive__description {
    margin-top: 19px;
    width: 100px;
}

.prise__newPineTreeFive {
    margin-top: 60px;
    display: flex;
    align-items: inherit;
}

/* __________________________________________________________________________________________________________________ */
.block-real_estate__newPineTreeSex {
    width: 440px;
    height: 600px;
    border-radius: 20px;
    background: #FFFFFF;
    margin-top: 40px;

}

.img__newPineTreeSex {
    height: 298px;
    width: 440px;
    background-image: url("jpg/img__newPineTreeSex.png");
}

.button__people {
    width: 92px;
    height: 36px;
    border-radius: 150px;
    background-image: url("jpg/people.png");
    margin-left: 328px;
    margin-top: 24px;
}

.button__like {
    width: 100px;
    height: 100px;
    border-radius: 200px;
    background-image: url("jpg/btn__favoret.png");
    margin-left: 350px;
    margin-top: 148px;
}

.newPineTreeSex__content {
    width: 440px;
    height: 302px;
    margin-top: 50px;
    margin-left: 30px;
}

.newPineTreeSex__description {
    margin-top: 19px;
    width: 100px;
}

.prise__newPineTreeSex {
    margin-top: 60px;
    display: flex;
    align-items: inherit;
}

.btn__catalogeOne {
    margin-top: 80px;
    margin-left: 550px;
}

/* __________________________________________________________________________________________________________________ */
/* __________________________________________________________________________________________________________________ */
.main-menu-page__organize {
    margin-top: 200px;

}

.menu__organize__container {
    margin-left: 0;

}

.header__organize {
    font-size: 40px;
}

.main__organize {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1400px;
    margin-top: 80px;

}

[class*="items__one"] {
    width: 440px;
    height: 130px;
    background: #FFFFFF;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding-left: 44px;
    gap: 21px;
    border-radius: 20px;

}

.items__one__two {
    margin-top: 40px;
}

.btn__organize {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 50px;
    background: #F4683F;
    border-radius: 200px;
    margin-left: 567px;
    margin-top: 60px;
    color: #FFFFFF;
}

/* __________________________________________________________________________________________________________________ */
/* __________________________________________________________________________________________________________________ */
.page-header__frequentlyAskedQuestions {
    margin-top: 250px;
}


.page-main__frequentlyAskedQuestions {
    margin-top: 80px;
}

/* __________________________________________________________________________________________________________________ */
/* __________________________________________________________________________________________________________________ */
/* __________________________________________________________________________________________________________________ */
/* __________________________________________________________________________________________________________________ */
.footer__container {
    margin: 0;
    padding: 0;
    margin-top: 250px;
}

.footer-application {
    width: 1920px;
    height: 775px;
    background-image: url("jpg/bg__rent.png");

}

.footer-application__textOne {
    position: absolute;
    margin-top: 233px;
    margin-left: 380px;
    color: #FFFFFF;
}

.block__footer {
    width: 1920px;
    height: 350px;
    background: linear-gradient(180deg, #161723 0%, #161723 109.24%);
    padding-right: 260px;
    padding-left: 260px;
    padding-top: 78px;
    padding-bottom: 69px;
}

.footer__blocks-content {
    display: flex;
    justify-content: space-between;
    width: 1401px;
    height: 199px;
    color: #FFFFFF;
}

.footer__logo {
    width: 342px;
    height: 199px;
}

.cleec__politic {
    margin-top: 119px;
    color: #333333;
}

.footer__catalog {
    margin-top: 25px;
    font-size: 22px;
}

.cleec__catalog {
    margin-top: 17px;
    font-size: 16px;
    color: rgba(192, 194, 215, 1);
}
.footer__support-service {
    margin-top: 25px;
    color: rgba(192, 194, 215, 1);
    font-size: 16px;
}

.footer__social-contacte {
    margin-top: 25px;
}
.footer__social-contact {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 148px;
}
